.App {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}

body {
  background: linear-gradient(#090302, #5A2328);
  font-family: 'Bebas Neue', cursive;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.header {
  background-color: #8A7E72;
  font-family: 'Bebas Neue', cursive;
}

.brand {
  color: #FFD400;
}

.brand:hover {
  color: #F7F7F7;
}

.inactive {
  color: #F7F7F7;
}

.inactive:hover {
  color: #FFD400;
}

.main {
  color: #F7F7F7 !important;
  text-align: left;
  margin: 1em auto 0 auto;
  width: 84%;
  font-family: 'Rubik Mono One', sans-serif;
}

.jumbotron {
  background: rgba(0, 0, 0, 0);
}

.jumbotron h1 {
  font-family: 'Bebas Neue', cursive !important;
  color: #FFD400;
}

.jumbotron h1 img {
  width: 11%;
}

.displayContainer {
  color: #F7F7F7;
  width: 84%;
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  margin: 2em auto 4em auto;
  max-height: 20em;
  overflow: auto;
}

.itemsList {
  margin: 0 auto 0 auto;
  color: #F7F7F7;
  width: 84%;
}

.itemsListBody {
  width: 84%;
  max-height: 20em;
  overflow: auto;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #FFD400;
  cursor: pointer;
}

.itemInfoCard {
  background-color: #8A7E72;
  padding: 10px 10px 10px 10px;
  box-shadow: 5px 5px 10px #FFD400;
}

.form-container {
  padding: 25px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.row {
  background-color: #8A7E72;
  color: #F7F7F7;
}

.aboutus {
  color: #8A7E72 ;
  text-align: center;
  margin: 1em auto 0 auto;
  width: 84%;
}

.ourstory {
  color: #FFD400;
  text-align: center;
  margin: 1em auto 0 auto;
  width: 84%;
}

.hanksstory{
color:#FFD400;
text-align: center;
margin: 1em auto 0 auto;
width: 84%;
font-size: 20px;

}